@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

.mens-container {
  margin-top: 20px;

  .mens-banner {
    height: min-content;
    border: 1px solid black;
    background-color: #000;
    z-index: -100;
    position: relative;

    .banner-div {
      color: white;
      display: flex;
      flex-direction: column;
      text-align: center;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      top: 50%;
      transform: translate(-50%, -50%);
      
      
      .banner-heading {
        font-size: 6em;
        letter-spacing: 0.2em;
        line-height: 0.8;
      }
      .banner-subheading {
          font-weight: lighter;
          font-size: 1.5em;
      }
    }
  }

  .items-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  }
}
